<Section id="contact-form">
    <div class="container tx-center">
        <h1 class="page-heading tx-light">Contact</h1>
        <form action="submit" class="form">
            <input class="form-input" type="text" placeholder="Your Name">
            <input class="form-input" type="text" placeholder="Your Email">
            <input class="form-input" type="text" placeholder="Subject">
            <textarea class="form-text-area" placeholder="Message" name="" id="" cols="30" rows="10"></textarea>
            <button class="form-btn-primary">Submit</button>
        </form>
    </div>

</Section>