<div class="tx-center">
    <h1 class="text-light page-heading">About Me</h1>

    <div class="container">
        <div id="about-flex-container" class="fx-row fx-sb-row">
            <div id="about-img">
                <img src="../../../assets/img/Face.JPG" alt="phote bad">
            </div>
            <div id="about-content" class="fx-col tx-light">
                <h2>Hi, I am Tyler <span class="text-primary">Estes</span></h2>
                <h3>I am a Web Developer</h3>
                <p class="tx-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, ea iusto! Dolor
                    enim est
                    accusamus.
                    Provident eius eos culpa deserunt unde odio accusantium, facilis ad reprehenderit. Explicabo
                    consequatur
                    sed placeat!</p>
                <div id="about-list" class="tx-left">
                    <ul>
                        <li>
                            <fa-icon class="chevron-primary" [icon]="faChevronRight"></fa-icon><span> Address:</span>
                            236 W. Church Lane,
                            Bloomington
                            IN.
                            47403
                        </li>
                        <li>
                            <fa-icon class="chevron-primary" [icon]="faChevronRight"></fa-icon><span> Phone
                                Number:</span> (812) 369-7775
                        </li>
                        <li>
                            <fa-icon class="chevron-primary" [icon]="faChevronRight"></fa-icon><span> Age:</span> 33
                        </li>
                    </ul>
                </div>
            </div>

        </div>



    </div>
</div>