<div class="tx-center">
    <h1 class="text-light page-heading">About Me</h1>

    <div class="container">
        <div id="about-flex-container" class="fx-row fx-sb-row">
            <div id="about-img">
                <img src="../../../assets/img/Face.JPG" alt="phote bad">
            </div>
            <div id="about-content" class="fx-col tx-light">
                <h2>Hi, I am Tyler <span class="text-primary">Estes</span></h2>
                <h3>I am a Web Developer</h3>
                <p class="tx-left">I’m Tyler Estes. I’m a Web Developer. I am passionate about this field since it will
                    allow me to work in programming and help people solve problems that will enable them to start, grow
                    and improve their business and increase their income.
                </p>
                <p class="tx-left">I have been working since I was 16 in a variety of jobs ranging from fast food and
                    retail sales to
                    fork lift driver in manufacturing plants. I have learned to work well with people of all ages and
                    backgrounds and my work ethics will show that I have learned from all of these opportunities.</p>
                <p class="tx-left">After obtaining a 2 year degree in music, I studied toward a computer science degree
                    at Ivy Tech and
                    then received a certificate from Bethel Tech, a coding boot camp. My goal is to work full time in
                    Web Development. I believe I can contribute value to a company by being an integral part of their
                    organization and solving their problems in web development.</p>
                <div id="about-list" class="tx-left">
                    <ul>
                        <li>
                            <fa-icon class="chevron-primary" [icon]="faChevronRight"></fa-icon><span> Address:</span>
                            236 W. Church Lane,
                            Bloomington
                            IN.
                            47403
                        </li>
                        <li>
                            <fa-icon class="chevron-primary" [icon]="faChevronRight"></fa-icon><span> Phone
                                Number:</span> (812) 369-7775
                        </li>
                        <li>
                            <fa-icon class="chevron-primary" [icon]="faChevronRight"></fa-icon><span> Age:</span> 33
                        </li>
                    </ul>
                </div>
            </div>

        </div>



    </div>
</div>