<div id="showcase-img"></div>
<div id="showcase">
    <div class="container">
        <div id="showcase-content">
            <h1 class="text-light text-center">I'm Tyler <span class="text-primary">Estes</span></h1>
            <p class="text-light text-center">My dream and passion is to provide software solutions to problems. My
                dream and
                passion is to provide
                software solutions to problems. My dream and passion is to provide software solutions to problems. My
                dream and passion is to provide software solutions to problems. My dream and passion is to provide
                software solutions to problems. </p>
            <div class="fx-center showcase-button">
                <button (click)="contactMe()" class="btn-primary btn ">Contact Me</button>
            </div>
        </div>
    </div>
</div>