<div id="showcase-img"></div>
<div id="showcase">
    <div class="container">
        <div id="showcase-content">
            <h1 class="text-light text-center">I'm Tyler <span class="text-primary">Estes</span></h1>
            <h3 class="text-light text-center">I am a Web Developer</h3>
            <p class="text-light text-center">
                My dream and passion is to help you
                by providing cutting edge solutions to your software problems. Although I am passionate about Java, I
                have also studied other languages in order to solve problems on the front or back end and at any stage
                of development or maintenance.
            </p>
            <div class="fx-center showcase-button">
                <button (click)="contactMe()" class="btn-primary btn ">Contact Me</button>
            </div>
        </div>
    </div>
</div>