<section id="project-details">
    <div>
        <div id="details-heading" class="tx-center ">
            <h1 class="page-heading tx-light">{{project.projectName}}</h1>
        </div>
        <div id="project-content">
            <div id="details-img">
                <img attr.src={{project.projectUrls.imgUrl}} alt="">
            </div>
            <div id="details-content" class="tx-light">
                <h2>Project Details</h2>
                <p>{{project.details}}</p>
                <h2>Technology</h2>
                <ul>
                    <li *ngFor="let technology of project.technologies;">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                        {{technology.technology}}
                    </li>
                </ul>
                <div id="button">
                    <button (click)="goToPreview()" class="btn btn-primary">Live Preview</button>
                    <button (click)="goToFrontEndSourceCode()" class="btn btn-primary">Frontend Source Code</button>
                    <button (click)="goToBackEndSourceCode()" class="btn btn-primary">Backend Source Code</button>
                </div>

            </div>
        </div>

    </div>
</section>