<div class="container">
    <div id="nav-bar" class="fx-r fx-btw list">
        <div id="name">
            <h2><a class="text-light" routerLink="home">Tyler Estes</a></h2>
        </div>
        <div id="nav-links" class="list">
            <ul class="fx-r fx-btw">
                <li routerLinkActive="current"><a class="text-light" routerLink="resume">Resume</a></li>
                <li routerLinkActive="current"><a class="text-light" routerLink="about">About</a></li>
                <li routerLinkActive="current"><a class="text-light" routerLink="portfolio">Projects</a></li>
                <li routerLinkActive="current"><a class="text-light" routerLink="contact">Contact</a></li>
            </ul>
        </div>
        <div id="social-media" class="list-social">
            <ul class="fx-r fx-btw fx-ch">
                <li>
                    <a href="https://www.facebook.com/tyler.estes.7127">
                        <fa-icon class="text-light p-1" [icon]="faFacebookF"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tyler-estes-465325180">
                        <fa-icon class="text-light p-1" [icon]="faLinkedinIn"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="">
                        <fa-icon class="text-light p-1" [icon]="faGithub"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>