#nav-bar {
  padding: 2rem 0;
  height: 100px;
}

.list li a fa-icon {
  font-size: 1.5rem;
}

.list li a fa-icon:hover,
.list h2 a:hover,
#nav-links li a:hover {
  color: var(--primary-color) !important;
}

#nav-links li:hover {
  border-bottom: 0.1rem solid var(--primary-color);
}
#nav-links li {
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding-bottom: 0.5rem;
}

.container div {
  margin-top: 10px;
}
