#progress-group {
  margin-bottom: 10rem;
  margin-top: 3rem;
}

h1 {
  display: inline;
  font-size: 24px;
  padding: 0 1rem;
}

fa-icon {
  color: var(--light-color);
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .icon-h2 {
    text-align: center;
  }
}
