/*
*******
*Basic*
*******   
*/
:root {
  --primary-color: #ff1744;
  --primary-dark: #c4001d;
  --primary-light: #ff616f;
  --secondary-color: #fff59d;
  --light-color: #f3f3f3;
  --dark-color: #191a19;
  --danger: #f59e98;
  --danger-tx: #733c38;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--dark-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

/*
*********
*utility*
********* 
*/

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.bg-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-dark fa-icon,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}

.text-light {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: var(--primary-color);
}

.text-small {
  font-size: 0.8rem;
}
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.l-heading {
  font-size: 3rem;
}

/* 
**************   
*Flex classes*
************** 
*/

/* Flex row */
.fx-r {
  display: flex;
}

.fx-col {
  display: flex;
  flex-direction: column;
}

.fx-sa {
  justify-content: space-around;
}

.fx-btw {
  justify-content: space-between;
}

/* center horizontal */
.fx-ch {
  align-items: center;
}

.fx-i-ch {
  align-self: center;
}

.fx-center {
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background: var(--light-color);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

/* New Flex */
.current {
  border-bottom: 0.1rem solid var(--primary-color);
}
