.timeline {
  position: relative;
  width: 3px;
  background: var(--light-color);
  margin: 0;
}

.timeline:last-child {
  background: none;
}

.timeline .content {
  position: relative;
  bottom: 0;
  width: 30rem;
  padding: 0.7rem 2rem 1rem 3rem;
}

ul {
  width: 25rem;
}

.timeline div p {
  margin: 0;
}

.timeline::before {
  content: attr(data-before-content);
  text-align: center;
  line-height: 2.5rem;
  color: var(--light-color);
  position: absolute;
  top: 0;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--primary-color);
  transform: translateX(-50%);
  border-radius: 50%;
}

p {
  line-height: 1.6rem;
  padding-bottom: 0;
}

/* new */
.list-title p::before {
  content: "-";
  padding: 0 1rem;
}

.content-p {
  padding-bottom: 1rem;
}
img {
  width: 30rem;
  margin-top: 8rem;
}

@media (max-width: 600px) {
  #timeline {
    flex-direction: column;
  }

  .timeline::before {
    display: none;
  }
  .icon-h2 {
    text-align: center;
  }

  .timeline {
    position: relative;
    width: 100%;
    background: none;
    margin: 0;
  }

  .timeline .content {
    position: static;
    bottom: 0;
    width: auto;
    padding: 0;
  }

  .discription {
    width: 80%;
    padding-right: 2rem;
  }

  .list-title {
    flex-direction: column;
  }

  .list-title p::before {
    content: "";
    padding: 0;
  }

  img {
    display: none;
  }

  section {
    padding: 0;
  }
}

@media (max-width: 900px) {
  #timeline {
    flex-direction: column;
  }

  .icon-h2 {
    text-align: center;
  }

  .discription {
    width: 60rem;
    padding-right: 2rem;
  }

  .list-title {
    flex-direction: column;
  }

  .list-title p::before {
    content: "";
    padding: 0;
  }

  img {
    display: none;
  }

  section {
    padding: 0 2rem;
  }
}
