<div id="timeline" class="fx-row fx-sb-row">
    <section id="jobs">
        <div class="icon-h2">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            <h2 class="tx-light">Work Experiences</h2>
        </div>
        <ul>
            <li *ngFor="let job of jobs; let i = index" [attr.data-before-content]="i + 1" class="timeline">
                <div class="content">
                    <div class="fx-row list-title">
                        <h3 class="tx-light">{{job.jobTitle}}</h3>
                        <p class="tx-light">{{job.location}}</p>
                    </div>
                    <p class="tx-light content-p">{{job.timePeriod}}</p>
                    <ul>
                        <li *ngFor="let discriptionList of job.jobDiscription" class="fx-row chevron-primary">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                            <div class="tx-light discription">{{discriptionList.discription}}</div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <section id="education">
        <div class="icon-h2">
            <fa-icon [icon]="faUserGraduate"></fa-icon>
            <h2 class="tx-light ">Education</h2>
        </div>
        <ul>
            <li *ngFor="let education of educations; let i = index" [attr.data-before-content]="i + 1" class="timeline">
                <div class="content">
                    <div class="list-title fx-row">
                        <h3 class="tx-light">{{education.schoolName}}</h3>
                        <p class="tx-light">{{education.location}}</p>
                    </div>
                    <p class="text-light content-p">{{education.dateAttended}}</p>
                    <ul>
                        <li *ngFor="let educationDetailsList of education.educationDetails"
                            class="fx-row chevron-primary">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                            <div class="tx-light discription">{{educationDetailsList.details}}</div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <img src="../../../assets/img/laptop picture.jpg" alt="">
    </section>
</div>